@model TableFieldModel

@{
    ViewData["Title"] = ViewBag.Table.Name;
    var types = new Dictionary<AttributeType, string>();
    types.Add(AttributeType.Integer, "number");
    types.Add(AttributeType.Real, "number");
    types.Add(AttributeType.Char, "text");
    types.Add(AttributeType.String, "text");
    types.Add(AttributeType.Relation, "text");
}

<h1>@ViewData["Title"]: Add Field</h1>
<hr />
<div class="btn-group btn-group-sm" role="group">
    <input type="submit" form="createForm" value="Create" class="btn btn-outline-dark" />
    <a class="btn btn-outline-dark" asp-action="Fields" asp-route-tableGuid="@Model.TableGuid" asp-route-dbGuid="@Model.DbGuid">Back</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateField" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DbGuid" value="@Model.DbGuid" />
            <input type="hidden" asp-for="TableGuid" value="@ViewBag.Table.Guid" />
            @foreach (var column in Model.Columns)
            {
                <div class="form-group">
                    <label for="@column.Guid" class="form-label">@column.Name (@column.AttributeType)</label>
                    <input type="@types[column.AttributeType]" @(column.AttributeType == AttributeType.Real ? "step=any" : "") @(column.AttributeType == AttributeType.Char ? "maxlength=1" : "") name="@column.Guid" value="@Model.Values[@column.Guid]" class="form-control" />
                </div>
            }
        </form>
    </div>
</div>
