@model IEnumerable<TableFieldModel>

@{
    ViewData["Title"] = ViewBag.Table.Name;
}

<h1>@ViewData["Title"]: Fields</h1>
<div class="btn-group btn-group-sm" role="group">
    <a class="btn btn-outline-dark" asp-action="CreateField" asp-route-tablename="@ViewBag.Table.Name" asp-route-dbname="@ViewData["DbName"]">Add field</a>
    <a class="btn btn-outline-dark" asp-action="Tables" asp-route-name="@ViewData["DbName"]">Back</a>
</div>
<table class="table table-bordered mt-2">
    <thead>
        <tr>
            @foreach (var column in ((TableDataBase.Models.Table)ViewBag.Table).AttributeProperties.OrderBy(p => p.Name))
            {
                <th>
                    @column.Name (@column.AttributeType)
                </th>
            }
            <th style="min-width: 110px"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <form asp-action="Fields" id="filterForm" asp-route-tableName="@ViewBag.Table.Name" asp-route-dbName="@ViewData["DbName"]" method="get">
                <input type="hidden" form="filterForm" name="tableName" value="@ViewBag.Table.Name" />
                <input type="hidden" form="filterForm" name="dbName" value="@ViewData["DbName"]" />
            </form>
            @foreach (var column in ((TableDataBase.Models.Table)ViewBag.Table).AttributeProperties.OrderBy(p => p.Name))
            {
                <th>
                    @if (column.AttributeType == AttributeType.StringInvl)
                    {
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-sm" id="@column.Name")">Min:</span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" form="filterForm" name="@column.Name" value="@ViewBag.FilterValues[column.Name][0]" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text input-group-text-sm" id="@column.Name">Max:</span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm" form="filterForm" name="@column.Name" value="@ViewBag.FilterValues[column.Name][1]" />
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="text" class="form-control form-control-sm" form="filterForm" name="@column.Name" value="@ViewBag.FilterValues[column.Name][0]" />
                    }
                </th>
            }
            <th><input type="submit" form="filterForm" value="Filter" class="btn btn-primary btn-sm form-control form-control-sm" /></th>
        </tr>
        @foreach (var field in Model)
        {
            <tr>
                @foreach (var column in field.Values.OrderBy(val => val.Key))
                {
                    <td>
                        @if ((field.Columns.FirstOrDefault(c => c.Name == column.Key).AttributeType == AttributeType.Html))
                        {
                            <button onclick="openHtmlPreview('@column.Value.ToString().Replace("\r\n", "").Replace("\r", "").Replace("\n", "")')" type="button" class="btn btn-sm btn-link">Open preview</button>


                        }
                        else if ((field.Columns.FirstOrDefault(c => c.Name == column.Key).AttributeType == AttributeType.StringInvl))
                        {
                            <span>
                                Min: @column.Value.Min<br />
                                Max: @column.Value.Max
                            </span>
                        }
                        else
                        {
                            @column.Value
                        }
                    </td>
                }
                <td class="text-end">
                    <a asp-action="EditField" asp-route-guid="@field.Guid" asp-route-tablename="@ViewBag.Table.Name" asp-route-dbname="@ViewData["DbName"]">Edit</a> |
                    <a asp-action="DeleteField" asp-route-guid="@field.Guid" asp-route-tablename="@ViewBag.Table.Name" asp-route-dbname="@ViewData["DbName"]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

